# mysql config

# character-set
# time-zone
# packet-size

[client]
default-character-set=utf8


[mysql]
default-character-set=utf8


[mysqld]
collation-server=utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server=utf8mb4
max_allowed_packet=10M
default-time-zone='+8:00'

sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

# replication for master and slave
log_bin=mysql-bin
binlog_format=mixed

# enable GTID
gtid-mode=on
enforce-gtid-consistency=true
log_slave_updates=1

# replication for slave
relay_log=new-relay-bin
relay_log_info_file=new-relay-info
read_only=1
